.customnotfound{
    /* height: 70vh; */
    min-height: 500px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    border: none;
}
.customnotfound>p{
    /* font-size: 50px; */
    color: gray;
}