


.paymentsuccesspage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 100px;
gap: 50px;
}
.paymentsuccesswrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.pspthankyou{
    font-size: 50px;
color: rgb(67, 210, 150);
}

.paymentsummary{
    /* border: 1px solid gray; */
    
    background-color: rgb(245, 245, 245);
    padding: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 10px;
}

.psp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: gray;
}

.psp>span{
    font-weight: 600;
    color: black;
}