.addresscard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
    min-width: 500px;
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
    
}


.addresscardheader{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.achdetails{

    display: flex;
    gap: 20px;
    align-items: center;
}

.achname{
    font-size: 25px;
    line-height: 26px;
    color: rgb(90, 90, 90);
    font-weight: 500;
}

.achaddresstype{
    background-color: rgb(235, 235, 235);
    color: rgb(116, 116, 116);
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 15px;
}

.acbp{
    font-size: 15px;
}

.acfphone{
    font-size: 15px;
}